NEXT_PUBLIC_SITE_DOMAIN="http://localhost:3000"
NEXT_PUBLIC_BASE_PATH=""

NEXT_PUBLIC_GTM=""
NEXT_PUBLIC_ROBOTS="false"

# DEVELOPMENT TOOLS
# Ideally, don't add them to production deployment envs
# !STARTERCONF Change to true if you want to log data
NEXT_PUBLIC_SHOW_LOGGER="false"
